.cookie{
    position: absolute;
    left: 45%;
    top: 80px;
    width: 200px;
    height: 200px;
    
}
.css {
    position: absolute;
    background:#6495c4;
    width:30px;
    height:30px;
    left: -45;
    top: 185px;
    border: 3px solid #fff;
    cursor: pointer;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;

}
.q{
    position: absolute;
    left: 45%;
    top: 80px;
    width: 200px;
    height: 200px;
}
.q1{
    position: absolute;
    left: 89%;
    top: 40px;
    font-size: 30px;
}
.qq{
    position: absolute;
    left: 88%;
    top: 35px;
    height: 40;
    width: 10%;
    background: rgb(163, 163, 163);
    border: solid;
}
.mop{
    position: absolute;
    width: 40px;
    height: 5px;
    background: gray;
    border: solid;
}
.m2{
    top: 22px;
}
.m3{
    top: 36px;
}
.mop1{
    position: absolute;
    width: 42px;
    height: 42px;
}
.menu{
    position: absolute;
    top: 52px;
    left: -200px;
    height: 90%;
    width: 200px;
    background: rgb(148, 147, 147);
}
.ac{
    position: absolute;
    background: rgb(187, 187, 187);
    border: solid;
}
.a1{
    top: 60px;
    left: -190px;
    height: 30px;
    width: 170px;
}
.a2{
    top: 94px;
    left: -190px;
    height: 30px;
    width: 82px;
}
.a3{
    top: 94px;
    left: -280px;
    height: 30px;
    width: 85px;
}
.qwqw{
    position: absolute;
    top: 15px;
    right: 37px;
}
.qwqw1{
    position: absolute;
    top: 15px;
    right: 37px;
}
.q12{
    position: absolute;
    top: 128px;
    left: -190px;
    height: 35px;
    width: 176px;
    background: rgb(209, 209, 209);
    border: solid;
}
.acb{
    position: absolute;
    top: 120px;
    background: rgb(187, 187, 187);
    border: solid;
}
.ab1{
    top: 180px;
    left: -190px;
    height: 30px;
    width: 170px;
}
.aab1{
    top: 214px;
    left: -190px;
    height: 30px;
    width: 170px;
}
.ab2{
    top: 248px;
    left: -190px;
    height: 30px;
    width: 170px;
}

.qwqwb1{
    position: absolute;
    top: 15px;
    right: 37px;
}
.qb12{
    position: absolute;
    top: 282px;
    left: -190px;
    height: 35px;
    width: 176px;
    background: rgb(209, 209, 209);
    border: solid;
    font-size: 20px;
}
.abab{
    position: absolute;
    top: 282px;
    left: -190px;
    height: 35px;
    width: 176px;
    background: rgb(209, 209, 209);
    border: solid;
    font-size: 14px;
}

.acс{
    position: absolute;
    top: 120px;
    background: rgb(187, 187, 187);
    border: solid;
}
.aс1{
    top: 400px;
    left: -190px;
    height: 30px;
    width: 170px;
}
.aaс1{
    top: 434px;
    left: -190px;
    height: 30px;
    width: 82px;
}
.aaс2{
    top: 434px;
    left: -280px;
    height: 30px;
    width: 85px;
}
.aс2{
    top: 468px;
    left: -190px;
    height: 30px;
    width: 82px;
}
.aс3{
    top: 468px;
    left: -280px;
    height: 30px;
    width: 85px;
}
.qwqwс{
    position: absolute;
    top: 15px;
    right: 37px;
}
.qwqwс1{
    position: absolute;
    top: 15px;
    right: 37px;
}
.qс12{
    position: absolute;
    top: 502px;
    left: -190px;
    height: 35px;
    width: 87px;
    background: rgb(209, 209, 209);
    border: solid;
    font-size: 11px;
}
.qс121{
    position: absolute;
    top: 502px;
    left: -100px;
    height: 35px;
    width: 91px;
    background: rgb(209, 209, 209);
    border: solid;
    font-size: 11px;
}
.aсaс{
    position: absolute;
    top: 502px;
    left: -190px;
    height: 35px;
    width: 176px;
    background: rgb(209, 209, 209);
    border: solid;
    font-size: 14px;
}

.rb1{
    position: absolute;
    top: 100px;
    right: 100px;
}
.rb0{
    position: absolute;
    top: 100px;
    right: 60px;
}